---
:analyticservice:
  :github: 'git@github.com:faizalzakaria/gingerbread.git'
  :branch: 'master'
  :staging:
    :envs:
    :accounts:
      - :name: 'abc'
        :ssh_key: ''
        :apps:
          - '123'
  :production:
    :envs:
    :accounts:
      - :name: 'bdede'
        :ssh_key: ''
        :apps:
          - '1234-1'
          - '1234-2
:pushservice:
  :github: 'git@github.com:faizalzakaria/conard.git'
  :branch: 'master'
  :staging:
    :envs:
    :accounts:
      - :name: 'ginger'
        :ssh_key: ''
        :apps:
          - 'server-1'
  :production:
    :envs: []
    :accounts:
      - :name: 'bread'
        :ssh_key: ''
        :apps:
          - 'server-prod-1'
          - 'server-prod-2'
