:tasks: [ idonethis, vinti ]
:idonethis:
  :github: 'git@github.com:faizalzakaria/idonethis.git'
  :branch: 'master'
  :scales: ['web']
  :staging:
    :envs:
      TEST1: 'test'
      TEST2: 'test'
    :accounts:
      - :name: 'phaibusiness'
        :apps:
          - 'idonethis3'
  :production:
    :accounts:
      - :name: 'phaibusiness'
        :apps:
          - 'idonethis-prod'
:vinti:
  :github: 'git@github.com:faizalzakaria/vinti.git'
  :branch: 'master'
  :scales: ['web']
  :staging:
    :branch: 'master1'
    :accounts:
      - :name: 'phaibusiness'
        :apps:
          - 'vinti'
  :production:
    :envs:
    :accounts:
      - :name: 'phaibusiness'
        :apps:
          - 'vinti-prod-1'
